<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="#" class="navbar-brand " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="./../../../assets/images/logo.png" alt="Logo" width="100" class="d-inline-block align-text-top">
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                <i class="fa fa-user-o"></i> <span class="ms-1 d-none d-sm-inline">Clients</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">

                <li class="w-100">
                    <a href="#" class="nav-link px-0"> Clients</a>
                </li>
                <li class="w-100">
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Clients look </span>history</a>
                </li>
                <li class="w-100">
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Emergency </span> PIN
                        configuration</a>
                </li>

                <li class="w-100">
                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Emergency </span> PIN
                        history</a>
                </li>
            </ul>
        </li>
    </ul>
    <hr>
</div>